<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs")%>
</head>
<body>
    <noscript>You need to enable JavaScript to run this index.</noscript>
    <header class="title-block">
        <div class="title-card-block">
            <a href="" target="_blank"><img class="title-card-image" src="/images/HODLINFO.png" alt="holdinfo picture">
            </a>
            <p>Powered By <a href="https://www.finstreet.in/courses" target="_blank">Finstreet</a></p>
        </div>
        <div class="title-button-block">
            <select class="title-button themeBtn" value="inr" id="currency">
                <option value="inr">INR</option>
            </select>
            <select class="title-button themeBtn" id="coins">
                <option value="btc">BTC</option>
                <option value="eth">ETH</option>
                <option value="usdt">USDT</option>
                <option value="xrp">XRP</option>
            </select>
            <button class="title-button themeBtn"> <a class="themeBtn" href="https://wazirx.com/invite/sp7pvbt6?utm_source=finstreet&utm_medium=affiliate&utm_campaign=regnow-btn" target="_blank">BUY BTC</a> </button>
        </div>
        <div class="connect-block">
            <div class="svg-block">
                <svg viewbox= "0 0 100 100">
                    <circle fill="transparent" cx="50" cy="50" r="40" stroke="#17A2B8" stroke-width="6" fill="red" transform="rotate(-90,50,50)"></circle>
                </svg>
                <span id="timerText" class="timer-text">1</span>
            </div>
            <a class="telegram-button"> 
                <div>
                    <img src="/images/telegram.png" alt=""> 
                    <span>Connect Telegram</span>
                </div>
            </a>
            <div id="themeSelect" class="theme-block">
                <div id="themeSlide" class="theme" ></div>
            </div>
        </div>
    </header>   
    <section .class="info-block">
        <div class="details-block">
            <div class="details">
                <div class="percentage">17.5%</div>
                <div class="info">5 mins</div>
            </div>
            <div class="details">
                <div class="percentage">2.5%</div>
                <div class="info">3 hours</div>
            </div>
            <div class="details">
                <div class="best-price">Best Price to Trade</div>
                <div id="bestPrice" class="best-price-amount">₹24,71,102</div>
                <div class="best-price-info">Average BTC/INR net price including commission</div>
            </div>
            <div class="details">
                <div class="percentage">12.6%</div>
                <div class="info">1 Day</div>
            </div>
            <div class="details">
                <div class="percentage">20%</div>
                <div class="info">7 Days</div>
            </div>
        </div>
        <img  class="news-image" src="/images/cryptonews.png" alt="">
    </section>
    <main class="main-block">
        <table>
            <thead>
                <tr class="themeTable">
                    <th>#</th>
                    <th>Name</th>
                    <th>Last</th>
                    <th>Buy/Sell price</th>
                    <th>Volume</th>
                    <th>Base unit</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                <% for(let i = 0; i < crypto.length; i++) { %>
                    <tr class="table-contents">
                        <td><%=i + 1%></td>
                        <td><%=crypto[i].name %></td>
                        <td>₹<%=Math.round(crypto[i].last) %></td>
                        <td>₹<%=Math.round(crypto[i].buy) %> / ₹<%=Math.round(crypto[i].sell) %></td>
                        <td><%=crypto[i].volume %></td>
                        <td><%=crypto[i].base_unit %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </main>
    <img class="news-image" src="/images/BannerFTXNews.png" alt="">
    <hr>
    <%- include("./partials/footer.ejs")%>
    <div class="service-worker-block">
        <button>Add Hodlinfo to homepage</button>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>

